.logo
  background $color-logo
  border-radius 50%
  display inline-block
  height $size-default-logo
  position relative
  width $size-default-logo

  &__text
    color $color-neutral
    display block
    font-family Arial, sans-serif
    font-size $font-extra-large + 16
    font-weight 900
    left 1px
    line-height $size-default-logo
    position absolute
    text-align center
    top 1px
    width $size-default-logo
