.menu
  &__top
    font-size $font-small

    li
      a:hover
          color $color-success
          transition $transition-value

  &__bottom
    background-color $color-neutral
    font-size $font-medium

    a:hover
        text-decoration underline

  &--white
    background-color $color-neutral
    a
      color $color-primary
