// Font
$font-small           = 12px
$font-normal          = 14px
$font-medium          = 16px
$font-large           = 18px
$font-extra-large     = 20px

// size
$size-small          = 10px
$size-medium         = 20px
$size-large          = 50px
$size-extra-large    = 100px
$size-default-logo    = 84px

// Font-Family
$initial-font-family  = Helvetica, Arial, sans-serif


// Color
$color-text           = #333333
$color-dark           = #0a0a0a
$color-neutral        = #fefefe

$color-primary        = #1779ba
$color-secondary      = #767676

$color-alert          = #cc4b37
$color-warning        = #ffae00
$color-success        = #3adb76

$color-light-gray     = #e6e6e6
$color-medium-gray    = #cacaca
$color-dark-gray      = #8a8a8a

$color-logo           = #00d46a

// Border
border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

$border-radius-initial = $size-medium
$border-thin           = 1px solid
$border-large          = 2px solid


// Transition
$transition-value     = all 0.3s linear
