.page__cart
  &__title
    font-size $font-extra-large

  &__total
    font-size $font-large

  &__product-item
    &--margin
      margin-bottom $size-medium

  &--height
    min-height 224px

  select
    border $border-thin $color-light-gray
    max-width $size-large
