.page__product
  &__title
    font-size $font-extra-large

  &__comments
    position relative

    &__highlight
      background-color $color-neutral
      padding 0 $size-small
      position absolute
      left $size-medium
      top -12px
