.card
  &__container
    color $color-text
    display inline-block
    margin $size-medium $size-small $size-medium 0
    max-width 230px
    min-height $size-extra-large * 3
    max-height $size-extra-large * 3
    &:hover
      color $color-text

    &__image
      min-height 160px
      max-height 160px
